#%RAML 0.8

title: Paidy API
baseUri: https://api.paidy.com
version: 2016-07-01
protocols: [ HTTPS ] 
mediaType: application/json

schemas:
  - apiPayment_jp: !include apiPayment_jp.schema.json
  - apiCreateRefund_jp: !include apiCreateRefund_jp.schema.json
  - apiUpdatePayment_jp: !include apiUpdatePayment_jp.schema.json
  - apiCapturePayment_jp: !include apiCapturePayment_jp.schema.json
    
/payments:
  displayName: Payments
  description: Paidy決済ではPaidy Checkoutを利用して決済データを作成し、Authorizeを行います。決済オブジェクトが生成された後は、Paidy APIを利用して決済を管理していくことになります。このAPIには以下のような4つのエンドポイントが用意されています。Captureエンドポイント：請求を完了させて支払いを回収できます。Refundエンドポイント：回収（Capture）した金額の一部または全額を払い戻せます。Statusエンドポイント：決済に関する詳細な情報を取得できます。Closeエンドポイント：Authorize済みでCaptureが完了していない決済をクローズできます。
  /{id}/captures:
    displayName: 決済のCapture
    description: コンシューマーに請求を行う準備ができたら、マーチャントはCaptureリクエストを送信します。Captureできるのはstatusが「authorized」の決済だけです。
    uriParameters: 
      id: 
        displayName: id
        type: string
        description: URIの{id}の部分はPayment ID。
    post:
      description: リクエストボディは空にしておくか、あるいは<i>metadata</i>フィールドを含めることもできます。リクエストが成功すると、Captureオブジェクトを含む更新済みの決済オブジェクトが200番台のHTTPステータスコードとともに返ってきます。リクエストが失敗すると、エラーについての詳細情報を含むErrorオブジェクトが4xx番台または5xx番台のHTTPステータスコードとともに返ってきます。 決済のCaptureが完了済み、決済が有効期限切れ、あるいは指定したCaptureの金額が無効な場合はリクエストが失敗します。 
      headers:
        Authorization:
          displayName: HTTPのBasic認証
          description: HTTPのBasic認証に必要なデータをリクエストヘッダに含めます。APIの秘密鍵をusernameの値として使用するため、パスワードを送信する必要はありません。この必須データが欠けている場合はリクエストが失敗します。
          type: string
          required: true
        Paidy-version:
          displayName: Paidy-version
          description: Paidy APIのバージョン番号であり、2016-07- 01が現行のバージョンです。これは必須フィールドではありませんが、送信することが強く推奨されます。
          type: string
          required: false
          example: 2016-07-01
      body: 
        application/json:
          schema: apiCapturePayment_jp
          example: !include capture-payment.sample
      responses:
        200:
          description: リクエストが成功します。
          body:
            application/json:
              schema: apiPayment_jp
              example: !include payment-response.sample
  /{id}/refunds:
    displayName: 決済のRefund
    description: Paidy決済の全額あるいは一部を払い戻します。RefundはCapture済みの決済に対してのみ実行できます。
    uriParameters: 
      id: 
        displayName: id
        type: string
        description: URIの{id}の部分はPayment ID。
    post:
      description: Refundリクエストは特定のCaptureを指定して行うため、リクエストにcapture_idを含める必要があります。このCapture IDは必ず「cap_」で始まりますPaidy APIではこのフィールドの値を基にしてリクエストがPartial Refund（一部払い戻し）なのかFull Refund（全額払い戻し）なのかを判断します。amountフィールドを指定しない場合、Capture済みの金額すべてが払い戻しの対象になりますリクエストが成功すると、Refundオブジェクトを含む更新済みの決済オブジェクトが200番台のHTTPステータスコードとともに返ってきます。リクエストが失敗すると、エラーについての詳細情報を含むErrorオブジェクトが4xx番台または5xx番台のHTTPステータスコードとともに返ってきます。決済のCaptureを行っていない、決済が有効期限切れ、全額分のRefundを実行済み、あるいは指定したRefundの金額が無効な場合はリクエストが失敗します。
      headers:
        Authorization:
          displayName: HTTPのBasic認証
          description: HTTPのBasic認証に必要なデータをリクエストヘッダに含めます。APIの秘密鍵をusernameの値として使用するため、パスワードを送信する必要はありません。この必須データが欠けている場合はリクエストが失敗します。  
          type: string
          required: true
        Paidy-version:
          displayName: Paidy-version
          description: Paidy APIのバージョン番号であり、2016-07- 01が現行のバージョンです。これは必須フィールドではありませんが、送信することが強く推奨されます。
          type: string
          required: false
          example: 2016-07-01
      body:
        application/json:
          schema: apiCreateRefund_jp
          example: !include create-new-refund.sample
      responses:
        200:
          description: リクエストが成功します。
          body:
            application/json:
              schema: apiPayment_jp
              example: !include payment-response.sample
  /{id}:
    displayName: 決済の状態を取得
    description:  このエンドポイントではGETリクエストとPUTリクエストを使用できます。決済のorder_ref、description、metadataフィールドを更新する際は、PUTリクエストを送信します。これは更新専用のリクエストであり、1度のリクエストで複数のフィールドを更新することも可能です。また、更新を行う際は決済のstatusがAUTHORIZEDあるいはCLOSEDでなければなりません。 決済データを取得する際はGETリクエストを送信します。
    uriParameters: 
      id: 
        displayName: id
        type: string
        description: URIの{id}の部分はPayment ID。
    get:
      description: リクエストボディは空のままにしてください。リクエストが成功すると、200番台のHTTPステータスコードとともに決済オブジェクトが返ってきます。リクエストが失敗すると、エラーについての詳細情報を含むErrorオブジェクトが4xx番台または5xx番台のHTTPステータスコードとともに返ってきます。e. 
      headers:
        Authorization:
          displayName: HTTPのBasic認証
          description: HTTPのBasic認証に必要なデータをリクエストヘッダに含めます。APIの秘密鍵をusernameの値として使用するため、パスワードを送信する必要はありません。この必須データが欠けている場合はリクエストが失敗します。
          type: string
          required: true
        Paidy-version:
          displayName: Paidy-version
          description: Paidy APIのバージョン番号であり、2016-07- 01が現行のバージョンです。これは必須フィールドではありませんが、送信することが強く推奨されます。
          type: string
          required: false
          example: 2016-07-01
      responses:
        200:
          description: リクエストが成功します。
          body:
            application/json:
              schema: apiPayment_jp
              example: !include payment-response.sample
    put:
      description: リクエストが成功すると、200番台のHTTPステータスコードとともに決済オブジェクトが返ってきます。リクエストが失敗すると、エラーについての詳細情報を含むErrorオブジェクトが4xx番台または5xx番台のHTTPステータスコードとともに返ってきます。
      headers:
        Authorization:
          displayName: HTTPのBasic認証
          description: HTTPのBasic認証に必要なデータをリクエストヘッダに含めます。APIの秘密鍵をusernameの値として使用するため、パスワードを送信する必要はありません。この必須データが欠けている場合はリクエストが失敗します。
          type: string
          required: true
        Paidy-version:
          displayName: Paidy-version
          description: Paidy APIのバージョン番号であり、2016-07- 01が現行のバージョンです。これは必須フィールドではありませんが、送信することが強く推奨されます。
          type: string
          required: false
          example: 2016-07-01
      body:
        application/json:
          schema: apiUpdatePayment_jp
          example: !include update-payment.sample
      responses:
        200:
          description: リクエストが成功します。
          body:
            application/json:
              schema: apiPayment_jp
              example: !include payment-response.sample
  /{id}/close:
    displayName: 決済のClose
    description: オープン状態の決済をクローズします。クローズできるのはstatusがAUTHORIZEの決済だけです。
    uriParameters: 
      id: 
        displayName: id
        type: string
        description: URIの{id}の部分はPayment ID。
    post:
      description: リクエストボディは空のままにしてください。リクエストが成功すると、200番台のHTTPステータスコードとともに決済オブジェクトが返ってきます。リクエストが失敗すると、エラーについての詳細情報を含むErrorオブジェクトが4xx番台または5xx番台のHTTPステータスコードとともに返ってきます。e. 
      headers:
        Authorization:
          displayName: HTTPのBasic認証
          description: HTTPのBasic認証に必要なデータをリクエストヘッダに含めます。APIの秘密鍵をusernameの値として使用するため、パスワードを送信する必要はありません。この必須データが欠けている場合はリクエストが失敗します。
          type: string
          required: true
        Paidy-version:
          displayName: Paidy-version
          description: Paidy APIのバージョン番号であり、2016-07- 01が現行のバージョンです。これは必須フィールドではありませんが、送信することが強く推奨されます。
          type: string
          required: false
          example: 2016-07-01
      responses:
        200:
          description: リクエストが成功します。
          body:
            application/json:
              schema: apiPayment_jp
              example: !include payment-response.sample 